.card .card-img, .card .card-img-overlay {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #262626 !important;
}

.logo {
  font-size: 70px;
  color: rgb(211, 171, 85);
  width: 100px;
  height: 100px;
  margin-right: 25px;
  border: 3px solid rgb(211, 171, 85);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-name {
  font-family: "nonito", fans-serif;
  font-size: 50px;
  margin-top: 20px;
  color: #bbb;
  font-weight: 300;
  letter-spacing: 2px;
}

.sub-name {
  font-family: "Josefin Sans", fans-serif;
  font-size: 18px;
  color: #bbb;
  text-align: center;
  font-weight: 300;
  letter-spacing: 2px;
}

.main-heading {
  font-family: "Dancing Script", cursive;
  font-size: 90px;
  font-weight: 300;
  color: rgb(211, 171, 85);
}

.sub-heading {
  font-family: "Josefin Sans", fans-serif;
  font-size: 50px;
  font-weight: 300;
  color: #bbb;
}

.main-btn:hover {
  background-color: rgb(211, 171, 85) !important;
  color: #262626 !important;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
}

.card {
  position: relative !important;
  height: 25vw !important;
  width: 31.5% !important;
  overflow: hidden;
}
.card:hover .card-img-overlay {
  top: 0;
  background-color: rgba(211, 171, 85, 0.5);
}
.card .card-img-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute !important;
  color: #262626 !important;
  z-index: 100;
  top: -100%;
  transition: 1s;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -ms-transition: 1s;
  -o-transition: 1s;
}
.card-heading {
  font-family: "Dancing Script", cursive;
  font-weight: 300;
  font-weight: 300;
  letter-spacing: 2px;
}
.card-para {
  font-family: "nonito", fans-serif;
  font-size: 30px;
  font-weight: 300;
  letter-spacing: 2px;
}
.card-btn {
  width: 150px;
  height: 45px;
  font-family: "Josefin Sans", fans-serif;
  color: rgb(211, 171, 85) !important;
  font-weight: 500 !important;
  border: 2px solid rgb(211, 171, 85) !important;
}
.card .card-img {
  object-fit: cover;
  opacity: 0.8;
}

.header {
  width: 100%;
  height: 100vh;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../images/bg.jpeg") center no-repeat;
  background-size: cover;
}
.header .brand {
  display: flex;
  align-items: center;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.header-banner {
  text-align: center;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

.about-us {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about-us .about-left {
  width: 40%;
}
.about-us .about-left img {
  width: 100%;
  opacity: 0.7;
}
.about-us .about-right {
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about-us .about-right .stars {
  margin: 30px 0;
}
.about-us .about-right .stars .star {
  font-size: 15px;
  color: rgb(211, 171, 85);
  margin: 0 5px;
}
.about-us .about-right .description {
  text-indent: 30px;
  font-family: "nonito", fans-serif;
  font-size: 20px;
  color: #bbb;
  text-align: justify;
}

.gallery .cards-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}/*# sourceMappingURL=main.css.map */