*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: url("../imgs/perori-00.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: rgb(92, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
/* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 51);
    opacity: .2;
}
body * {
    z-index: 1;
} */
h1 {
    font-size: 7vw;
    margin-top: -40px;
    letter-spacing: 3px;
}
.countdown {
    display: flex;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-top: 30px;
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    margin: 15px;
    letter-spacing: -1px;
}


/* @media  and (max-width: ) {
    
} */

.spinner {
    height: 25vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.loading {
    display: inline-block;
    width: 6vw;
    height: 6vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: dotted .5vw;
    border-color: #dfdfdf #b564db #b564db;
    animation: spin infinite linear;
    -webkit-animation: spin 2s infinite linear;
}
@keyframes spin {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
}
}