*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    background: url("../imgs/perori-00.jpg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    color: rgb(92, 52, 52);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    overflow: hidden;
}
/* body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(51, 51, 51);
    opacity: .2;
}
body * {
    z-index: 1;
} */
h1 {
    font-size: 7vw;
    margin-top: -40px;
    letter-spacing: 3px;
}
.countdown {
    display: flex;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -moz-transform: scale(1.5);
    -ms-transform: scale(1.5);
    -o-transform: scale(1.5);
    margin-top: 30px;
}
.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    line-height: 30px;
    margin: 15px;
    letter-spacing: -1px;
}
@media screen {
    
}