.logo {
    font-size: 70px;
    color: $color-primary;
    width: 100px;
    height: 100px;
    margin-right: 25px;
    border: 3px solid $color-primary;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    @include flex;
}
.main-name {
    font-family: $font-nonito;
    font-size: 50px;
    margin-top: 20px;
    color: $color-secodary;
    @include textStyle;
}
.sub-name {
    font-family: $font-josefinSans;
    font-size: 18px;
    color: $color-secodary;
    text-align: center;
    @include textStyle;
}
.main-heading {
    font-family: $font-dancingScript;
    font-size: 90px;
    font-weight: 300;
    color: $color-primary;
}
.sub-heading {
    font-family: $font-josefinSans ;
    font-size: 50px;
    font-weight: 300;
    color: $color-secodary;
}
.main-btn:hover {
    background-color: $color-primary !important;
    color: $color-dark !important;
    transition: all .5s;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    -ms-transition: all .5s;
    -o-transition: all .5s;
}

.card {
    position: relative !important;
    height: 25vw !important;
    width: 31.5% !important;

    .card-img-overlay {
        @extend %fulspace;
        @include flex;
        flex-direction: column;
        position: absolute !important;
        color: $color-dark !important;
        z-index: 100;
    }

    .card-img {
        @extend %fulspace;
        object-fit: cover;
        opacity: .6;
    }
}
