.Navbar {
    position: relative !important;
    z-index: 200 !important;

    &-navigation {
        display: flex;

        .navig-left {
            width: 50vw;
            height: 100vh;
            background-color: $color-dark;
            position: fixed;
            left: -50vw;

            .left-img {
                width: 50%;
                position: absolute;
                box-shadow: 30px 30px 20px black;

                opacity: .7;

            }

            .img1 {
                top: 5%;
                left: 15%;
            }

            .img2 {
                top: 25%;
                left: 25%;
            }

            .img3 {
                top: 45%;
                left: 35%;
            }
        }

        .navig-right {
            width: 50vw;
            height: 100vh;
            background-color: #1f1d1d;
            position: fixed;
            right: -50vw;
            @include flex;

            .nav-list{
                .navList-item{
                    list-style-type: none;
                }
                .navList-link {
                    font-family: $font-nonito;
                    font-size: 40px;
                    @include textStyle;
                    color: $color-secodary;
                    text-decoration: none;
                    display: block;
                    text-align: center;

                    &:hover {
                        color: $color-primary;
                        transition: all .5s;
                        -webkit-transition: all .5s;
                        -moz-transition: all .5s;
                        -ms-transition: all .5s;
                        -o-transition: all .5s;
                        letter-spacing: 4px;
}
                }
            }
        }
    }
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba($color-black, .8), rgba($color-black, .4)), url("../images/bg.jpeg") center no-repeat;
    background-size: cover;

    .brand {
        display: flex;
        align-items: center;
        @include centering(15%);
    }

    &-banner {
        text-align: center;
        color: white;
        @include centering(50%);
    }
}

.about-us {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .about-left {
        width: 40%;

        img {
            width: 100%;
            opacity: .7;
        }
    }

    .about-right {
        width: 50%;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;

        .stars {
            margin: 30px 0;

            .star {
                font-size: 15px;
                color: $color-primary;
                margin: 0 5px;
            }
        }

        .description {
            text-indent: 30px;
            font-family: $font-nonito;
            font-size: 20px;
            color: $color-secodary;
            text-align: justify;

        }
    }
}

.gallery {
    .cards-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
}

.footer {
    @include flex;
    flex-direction: column;

    &-header {
        display: flex;
    }

    .socials {
        display: flex;
        width: 400px;
        flex-direction: row;
        justify-content: space-evenly;

        li {
            list-style: none;
        }

        .social-link {
            text-decoration: none;
            font-size: 50px;
            color: $color-secodary;

            &:hover {
                color: $color-primary;
                transition: .7s;
                -webkit-transition: .7s;
                -moz-transition: .7s;
                -ms-transition: .7s;
                -o-transition: .7s;
            }
        }

    }
}

.copywrite {
    .copyrwrite-para {
        font-family: $font-josefinSans !important;
    }
}