*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   
   body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
   
   }
   
   .calculator{
    flex: 0 0 95%;
   }
   .screen{
    width: 100%;
    font-size: 7rem;
    padding: 0.5rem;
    background: rgb(41,41,56);
    color: white;
    border:none;
   }
   
   .buttons{
    display: flex;
    flex-wrap: wrap;
}
   
   button{
    flex:0 0 25%;
    border: 1px solid black;
    padding: 0.25rem 0;
    transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -moz-transition: all .2s linear;
    -ms-transition: all .2s linear;
    -o-transition: all .2s linear;
}
   button:hover{
    background: blue;
    box-shadow: -2px -2px 7px 1px black;
   }
button:active {
    box-shadow: -2px -2px 5px 3px rgb(22, 22, 22);
    transition: .2s;
    transform: translate(2px , 2px);
    -webkit-transform: translate(2px , 2px);
    -moz-transform: translate(2px , 2px);
    -ms-transform: translate(2px , 2px);
    -o-transform: translate(2px , 2px);
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -ms-transition: .2s;
    -o-transition: .2s;
}
   .btn-yellow{
    background: rgb(245,146,62);
    color: white;
   }
   .btn-grey{
    background: rgb(224,224,224);
   }
   .btn,.btn-equal,.btn-clear{
    font-size: 4rem;
   }
   .btn-equal{
    background: green;
   }
   .btn-clear{
    background: red;
   }