body {
  background-color: #252a36;
  color: #f8f8f4;
  margin: 0;
  font-family: "vazir" , "tahoma" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.input {
  background-color: rgb(163, 65, 163);
  margin-right: -3px;
}
.input i {
  margin-left: -2px;
}
.textInput {
  border: 1.5px solid rgb(163, 65, 163);
  background-color: rgb(209, 209, 209);
}
input {
  color: #f8f8f4;
  background-color: #44475a !important;
}
.input-group-text {
  border: none;
}
button , span {
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  overflow: hidden;
}
div.buts span:hover {
  transform: translate(-1px , -1px);
  -webkit-transform: translate(-1px , -1px);
  -moz-transform: translate(-1px , -1px);
  -ms-transform: translate(-1px , -1px);
  -o-transform: translate(-1px , -1px);
  box-shadow: 1.5px 1.5px 2px gray;
}
div.buts span:active {
  transform: translate(1px , 1px);
  -webkit-transform: translate(1px , 1px);
  -moz-transform: translate(1px , 1px);
  -ms-transform: translate(1px , 1px);
  -o-transform: translate(1px , 1px);
  box-shadow: none;
}
.card {
  border: 1.5px solid rgb(163, 65, 163);
  background-color: #3d3f4b;
}