body {
  margin: 0;
  font-family: "vazir" , "tahoma" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.contacts {
  color: purple;
}
.input {
  background-color: purple;
  margin-right: -1px;
}
.textInput {
  border: 1.5px solid purple;
  background-color: rgb(209, 209, 209);
}