* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
html {
    font-size: 62.5%;
}
.container {
    width: 100%;
    height: 150vh;
    position: relative;
    background-color: #262626;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn {
    margin-top: 5rem;
    position: absolute;
    width: 20rem;
    height: 20rem;
    background-color: #9b0e0e;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: .2rem dotted #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    overflow: hidden;
}
.btn span{
    position: relative;
    font-size: 1.8rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.ripple {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e7be08;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    animation: ropple .7s forwards;
    -webkit-animation: ropple .7s forwards;
}
.ripple2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #e7be08;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transform: translate(-50% , -50%);
    -webkit-transform: translate(-50% , -50%);
    -moz-transform: translate(-50% , -50%);
    -ms-transform: translate(-50% , -50%);
    -o-transform: translate(-50% , -50%);
    animation: ropple2 .5s forwards;
    -webkit-animation: ropple2 .5s forwards;
}

@keyframes ropple {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 210%;
        height: 210%;
    }
}
@keyframes ropple2 {
    0% {
        width: 210%;
        height: 210%;
    }
    100% {
        width: 0;
        height: 0;
    }
}




.progressBar {
    width: 30rem;
    height: 30rem;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.halfCir , .halfCirTop {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
}
.halfCir:nth-child(1){
    background-color: green;
}
.halfCir:nth-child(2){
    background-color: blue;
}
.halfCirTop {
    background-color: orange;
}
.progressBar:hover .halfCir:nth-child(1) {
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transition: transform 1s linear;
    -webkit-transition: transform 1s linear;
    -moz-transition: transform 1s linear;
    -ms-transition: transform 1s linear;
    -o-transition: transform 1s linear;
}
.progressBar:hover .halfCir:nth-child(2) {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transition: transform 2s linear;
    -webkit-transition: transform 2s linear;
    -moz-transition: transform 2s linear;
    -ms-transition: transform 2s linear;
    -o-transition: transform 2s linear;
}
.progressBarCir {
    width: 29.5rem;
    height: 29.5rem;
    background-color: #000;
    border-radius: 50%;
    -webkit-border-radius:;
    -moz-border-radius:;
    -ms-border-radius:;
    -o-border-radius:;
    font-size: 4rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}