* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-size: 30px;
  padding: 15px;
}

.paragh1 {
  background-color: red;
}

.paragh2 {
  background-color: blue;
}

.paragh3 {
  background-color: green;
}

.paragh4 {
  background-color: yellow;
}

.paragh5 {
  background-color: gray;
}

.paragh-red {
  background-color: red;
}

.paragh-green {
  background-color: purple;
}

.paragh-blue {
  background-color: blue;
}

.paragh-gray {
  background-color: gray;
}

.paragh-yellow {
  background-color: yellow;
}
