@keyframes ldio-eci6ssgn2ll {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) ; -webkit-transform: rotate(180deg) ; -moz-transform: rotate(180deg) ; -ms-transform: rotate(180deg) ; -o-transform: rotate(180deg) ; }
  100% { transform: rotate(360deg) ; -webkit-transform: rotate(360deg) ; -moz-transform: rotate(360deg) ; -ms-transform: rotate(360deg) ; -o-transform: rotate(360deg) ; }
}
.scroll {
  position: absolute;
  /* animation: ldio-eci6ssgn2ll 1.2s linear infinite; */
  width: 160px;
  height: 160px;
  top: 20px;
  left: 20px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #5f2a62;
  transform-origin: 80px 82.3px;
}

