
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
h1 {
    text-align: center;
    margin-top: 15px;
}
.image-container {
    text-align: center;
    margin: 10px 30px;
}
.image-container img {
    width: 70%;
    background-repeat: no-repeat;
    margin-top: 5px;
}



@keyframes ldio-eci6ssgn2ll {
  0% { transform: rotate(0deg) }
  50% { transform: rotate(180deg) ; -webkit-transform: rotate(180deg) ; -moz-transform: rotate(180deg) ; -ms-transform: rotate(180deg) ; -o-transform: rotate(180deg) ; }
  100% { transform: rotate(360deg) ; -webkit-transform: rotate(360deg) ; -moz-transform: rotate(360deg) ; -ms-transform: rotate(360deg) ; -o-transform: rotate(360deg) ; }
}
.scroll-box {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.scroll {
  animation: ldio-eci6ssgn2ll 1.2s linear infinite;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  box-shadow: 0 4px 0 0 #5f2a62;
  transform-origin: 80px 82.3px;
}

@media screen and (max-width : 600px) {
    h1 {
        font-size: 20px;
    }
    .image-container {
        margin: 10px;
    }
    .image-container img {
        width: 85%;
    }
}

